---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface FaqItemsProps {
  question: string;
  answer: string ;
}

interface Props {
  faqItems?: FaqItemsProps[];
}

const { faqItems = [] } = Astro.props;
---
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const questions = document.querySelectorAll('.faq-question');
      questions.forEach(question => {
        question.addEventListener('click', function () {

          //@ts-ignore
          const answer = this.nextElementSibling;
          answer.classList.toggle('hidden');
          //@ts-ignore
          this.classList.toggle('active');
        });
      });
    });
</script>

<style>
  .faq-question.active::after {
    content: '▲';
  }
  .faq-question::after {
    content: '▼';
    font-size: 0.65rem;
    float: right;
  }
</style>

<div>
  {faqItems.map(faq => (
    <div class="mb-4 bg-white shadow-md rounded-lg">
      <div class="faq-question cursor-pointer py-4 px-6 text-lg font-semibold flex justify-between items-center">
        {faq.question}
      </div>
      <div class="faq-answer hidden py-4 px-6 border-t border-gray-200">
        {faq.answer}
      </div>
    </div>
  ))}
</div>
