---
import PrizeItem from "../prize/PrizeItem.astro";
import type { WhyItemProps } from "../sections/WhySection.astro";

interface Props {
    items: WhyItemProps[];
}

const { items } = Astro.props;
---

<div class="flex justify-center">
    <ul class="w-full flex flex-col md:flex-row gap-4 justify-evenly items-center mt-8 max-w-screen-lg px-4">
        {items.map((item) => (
            <li class="flex flex-col items-center w-full md:w-auto"> <!-- Ajustamos el ancho de los elementos -->
                <PrizeItem 
                    title={item.title} 
                    description={item.description} 
                    number={item.number} 
                />
            </li>
        ))}
    </ul>
</div>
