---
import TextIcon from "../../components/organisms/TextIcon.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="school-form" class="flex flex-col gap-8 py-8 px-8 md:px-24 md:py-16">
    <h2 class="text-center text-3xl font-bold">{t('textIcon.title')}</h2>
    <p class="text-center">{t('textIcon.description')}</p>
    <ul class="flex gap-4 flex-col md:flex-row">
        <TextIcon icon="ðŸŒŽ">
            <p set:html={t('textIcon.point1')}></p>
        </TextIcon>
        <TextIcon icon="ðŸš€">
            <p set:html={t('textIcon.point2')}></p>
        </TextIcon>
        <TextIcon icon="ðŸ‰">
            <p set:html={t('textIcon.point3')}></p>
        </TextIcon>
    </ul>
    <p class="text-center">{t('textIcon.conclusion')}</p>
</section>
