---
import SchoolForm from "../../components/organisms/SchoolForm.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="school-form" class="flex flex-col gap-8 py-8 md:px-24 md:py-16">
    <h2 class="text-center text-3xl font-bold">{t('schoolForm.title')}</h2>
    <p class="text-center">{t('schoolForm.description')}</p>
     <SchoolForm />
</section>
