---
import Foto from "../../assets/ComunidadEcuador.png";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div id="competition" class="flex flex-col min-h-[100vh] bg-ns-white text-ns-base">
  <main class="flex-1 flex items-center justify-center">
    <section class="w-full max-w-5xl p-6 bg-ns-white rounded-lg">
      <div class="container px-4 md:px-6">
        <div class="grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]">
          <div class="flex flex-col justify-center space-y-4">
            <div class="space-y-2">
              <h1 class="text-3xl  tracking-tighter sm:text-5xl xl:text-6xl/none text-ns-base">
                <strong>{t('comp.title')}</strong></h1>
              <p class="max-w-[600px] text-ns-gray-dark md:text-xl">
                {t('comp.description')}
              </p>
            </div>
            <div class="grid gap-4">
              <div class="flex items-start gap-4">
                <span class="h-6 w-6 text-ns-primary">📚</span>
                <div>
                  <h3 class="text-lg text-ns-base">{t('comp.access.title')}</h3>
                  <p class="text-ns-gray-light">{t('comp.access.description')}</p>
                </div>
              </div>
              <div class="flex items-start gap-4">
                <span class="h-6 w-6 text-ns-primary">🌐</span>
                <div>
                  <h3 class="text-lg  text-ns-base">{t('comp.connect.title')}</h3>
                  <p class="text-ns-gray-light">{t('comp.connect.description')}</p>
                </div>
              </div>
              <div class="flex items-start gap-4">
                <span class="h-6 w-6 text-ns-primary">🏆</span>
                <div>
                  <h3 class="text-lg  text-ns-base">{t('comp.aval.title')}</h3>
                  <p class="text-ns-gray-light">{t('comp.aval.description')}</p>
                </div>
              </div>
              <div class="flex items-start gap-4">
                <span class="h-6 w-6 text-ns-primary">🚀</span>
                <div>
                  <h3 class="text-lg text-ns-base">{t('comp.solutions.title')}</h3>
                  <p class="text-ns-gray-light">{t('comp.solutions.description')}</p>
                </div>
              </div>
              <div class="flex items-start gap-4">
                <span class="h-6 w-6 text-ns-primary">🎁</span>
                <div>
                  <h3 class="text-lg  text-ns-base">{t('comp.prizes.title')}</h3>
                  <p class="text-ns-gray-light">{t('comp.prizes.description')}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="relative overflow-hidden rounded-xl lg:order-last">
            <img
              src={Foto.src}
              alt="Foto"
              class="w-4/5 h-3/3 mx-auto rounded-lg"/>
        </div>
      </div>
    </section>
  </main>
</div>
