---
import TextIcon from "../organisms/TextIcon.astro";
import condrita from "../../assets/condrita.png"
---

<section id="school-form" class="flex flex-col gap-8 py-8 px-8 md:px-24 md:py-16">
    <h2 class="text-center text-3xl font-bold">¿Por qué Condrita?</h2>
    <ul class="flex gap-4 flex-col md:flex-row w-2/3 mx-auto">
        <img src={condrita.src} alt="Condrita roca" class="h-48 object-contain" />
        <TextIcon>
            <p class="w-auto">Las condritas carbonáceas son los meteoritos <strong class="font-bold"> más antiguos conocidos.</strong> Tienen un contenido muy elevado de carbono, de ahí viene su nombre. Además de agua y compuestos orgánicos como aminoácidos, de donde surge la teoría del <strong class="font-bold">origen de la vida</strong> en la Tierra, también tienen partículas llamadas CAIS y fullerenos, procedentes de otros sistemas estelares, permitiendo el estudio de planetas, exoplanetas, etc. 
            <strong class="font-bold">Son los meteoritos más fascinantes que existen.</strong></p>
        </TextIcon>
    </ul>
</section>
