---
import TextIcon from "../organisms/TextIcon.astro";
import condrita from "../../assets/condrita.png";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="school-form" class="flex flex-col gap-8 py-8 px-8 md:px-24 md:py-16">
    <h2 class="text-center text-3xl font-bold">{t('condrita.title')}</h2>
    <ul class="flex gap-4 flex-col md:flex-row w-2/3 mx-auto">
        <img src={condrita.src} alt="Condrita roca" class="h-48 object-contain mr-3" />
        <p class="w-auto" set:html={t('condrita.description')}></p>
    </ul>
</section>
