---

---

<footer class="relative bg-ns-primary-darker pt-8 pb-6 mt-6">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-center lg:text-center justify-center">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-md fonat-semibold text-white"> ¡Visítanos en nuestras redes sociales!</h4>
                <h5 class="text-xs mt-0 mb-2 text-white">
                Encuéntranos en todas estas plataformas.
              </h5> 
                <div class="mt-6 lg:mb-0 mb-6">
                    <a href="https://www.instagram.com/nasaspaceappsquito" target="_blank" rel="noopener noreferrer">
                        <button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
                          <i class="fab fa-instagram"></i>
                        </button>
                    </a>
                    <a href="https://www.tiktok.com/@nasaspacequito" target="_blank" rel="noopener noreferrer">
                        <button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
                          <i class="fab fa-tiktok"></i>
                        </button>
                    </a>
                    <a href="https://www.linkedin.com/company/nasa-space-apps-challenge-quito/" target="_blank" rel="noopener noreferrer">
                        <button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
                          <i class="fab fa-linkedin"></i>
                        </button>
                    </a>
                    <a href="https://youtube.com/@spacefrontusfq" target="_blank" rel="noopener noreferrer">
                        <button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
                          <i class="fab fa-youtube"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <hr class="my-6 border-white" />
        <div
            class="flex flex-wrap items-center md:justify-between justify-center"
        >
            <div class="w-full md:w-4/12 px-1 mx-auto text-center">
                <div class="text-xs text-white font-semibold">
                    Copyright © <span id="get-current-year">2024</span><a
                        href="https://nasaspaceappsquito.com"
                        class="text-blueGray-500 hover:text-gray-800"
                        target="_blank"
                    >
                        International Space Apps Challenges by
                        <a
                            href="https://www.usfq.edu.ec/es"
                            class="text-blueGray-500 hover:text-blueGray-800"
                            >USFQ</a
                        >.
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script type="module"></script>
    <link
        rel="stylesheet"
        href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
    />

    <style></style>
</footer>
