---
import TextIcon from "../organisms/TextIcon.astro";
---

<section id="school-form" class="flex flex-col gap-8 py-8 px-8 md:px-24 md:py-16">
    <h2 class="text-center text-3xl font-bold">Sé parte de la misión. Inscríbete ahora</h2>
    <p class="text-center">Sumérgete en increíbles retos para descubrir el mundo espacial.</p>
    <ul class="flex gap-4 flex-col md:flex-row">
        <TextIcon icon="🌎">
            <p>Tendrás acceso a <strong class="font-bold">más de 10 horas de formación junto a expertos nacionales y mundiales</strong> que te inspirarán a descubrir el espacio.</p>
        </TextIcon>
        <TextIcon icon="🚀">
            <p>A través de nuestros <strong class="font-bold">3 módulos y retos</strong>, aprenderás sobre Fundamentos del Espacio, Juegos y Narrativas, Realidad Virtual y Técnicas de Presentación efectiva.</p>
        </TextIcon>
        <TextIcon icon="🐉">
            <p>Cada clase contará con <strong class="font-bold">certificado de participación avalado por la Universidad San Francisco de Quito.</strong></p>
        </TextIcon>
    </ul>
    <p>Creamos una experiencia de aprendizaje única, diseñada para niños y adolescentes donde los participantes accederán a todos los materiales del campamento de por vida. </p>
</section>
