---
import SchoolForm from "../organisms/SchoolForm.astro";
---

<section class="flex flex-col gap-8 py-8 md:px-24 md:py-16">
    <h2 class="text-center text-3xl font-bold">Inscríbete!!!</h2>
    <SchoolForm />
</section>