---
// src/components/sections/timeline.astro
import Timeline from "../timeline/Timeline.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const timelineItems = [
  {
    title: t('timeline.week1.title'),
    date: t('timeline.week1.date'),
    description: t('timeline.week1.description'),
    isActive: false,
  },
  {
    title: t('timeline.week2.title'),
    date: t('timeline.week2.date'),
    description: t('timeline.week2.description'),
    isActive: false,
  },
  {
    title: t('timeline.week3.title'),
    date: t('timeline.week3.date'),
    description: t('timeline.week3.description'),
    isActive: false,
  },
  {
    title: t('timeline.week4.title'),
    date: t('timeline.week4.date'),
    description: t('timeline.week4.description'),
    isActive: false,
  }
];
---

<section class="flex flex-col gap-8 py-8 md:px-24 md:py-16">
    <h2 class="text-center text-3xl font-bold">{t('timeline.title')}</h2>
    <p class="text-center">{t('timeline.description')}</p>
    <Timeline
        timelineItems={timelineItems}
    />
</section>
