---
import Timeline from "../molecules/timeline/Timeline.astro";



const timelineItems = [
  {
    title: "Semana 1:",
    date: "9 y 11 de julio",
    description: "Aprende sobre fundamentos y cultura del espacio. ¡Conoce todos los secretos del universo! ¿Listo para ser astronauta?",
    isActive: false,
  },
  {
    title: "Semana 2:",
    date: "16 y 18 de julio",
    description: "Elige tu reto: Crea un juego, cuento, cómic o dibujo sobre el espacio o Propón la construcción de un centro de comando espacial en el Ecuador con herramientas innovadoras.",
    isActive: false,
  },
  {
    title: "Semana 3:",
    date: "23 y 25 de julio",
    description: "Aprende cómo hacer presentaciones efectivas y contar tu historia. Descubre cómo presentar tu proyecto y postula por nuestros fabulosos premios.",
    isActive: false,
  },
  {
    title: "Semana 4:",
    date: "28 de julio ",
    description: "Entrega tu reto hasta el 28 de julio por nuestros medios oficiales y entra a participar por nuestros premios.\nSé parte de nuestro Space Fest el 1 de agosto en la Universidad San Francisco de Quito.",
    isActive: false,
  }
];
---

<section class="flex flex-col gap-8 py-8 md:px-24 md:py-16">
    <h2 class="text-center text-3xl font-bold">¿Qué y Cómo aprenderás?</h2>
    <p class="text-center">Accede a educación inmersiva en temas del espacio con la calidad de la Universidad #1 del país.</p>
    <Timeline
        timelineItems={timelineItems}
    />
</section>