---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
import TextIcon from '../components/organisms/TextIcon.astro'

const { blok } = Astro.props
const content = renderRichText(blok.content)


---

<section id="school-form" class="flex flex-col gap-8 py-8 px-8 md:px-24 md:py-16" {...storyblokEditable(blok)}>
    <h2 class="text-center text-3xl font-bold">{blok.title}</h2>
    <p class="text-center">{blok.subtitle}</p>
    <ul class="flex gap-4 flex-col md:flex-row">
        <TextIcon icon={blok.image[0].filename}>
            <p>Tendr치s acceso a <strong class="font-bold">m치s de 10 horas de formaci칩n junto a expertos nacionales y mundiales</strong> que te inspirar치n a descubrir el espacio.</p>
        </TextIcon>
        <TextIcon icon="游">
            <p>A trav칠s de nuestros <strong class="font-bold">3 m칩dulos y retos</strong>, aprender치s sobre Fundamentos del Espacio, Juegos y Narrativas, Realidad Virtual y T칠cnicas de Presentaci칩n efectiva.</p>
        </TextIcon>
        <TextIcon icon="游낼">
            <p>Cada clase contar치 con <strong class="font-bold">certificado de participaci칩n avalado por la Universidad San Francisco de Quito.</strong></p>
        </TextIcon>
    </ul>
    
    <p class="text-center">Creamos una experiencia de aprendizaje 칰nica, dise침ada para ni침os y adolescentes donde los participantes acceder치n a todos los materiales del campamento de por vida. </p>
</section>
