---
import { storyblokEditable, renderRichText } from '@storyblok/astro'

const { blok } = Astro.props
const content = renderRichText(blok.content)

---

<article {...storyblokEditable(blok)}>
  <h1>{blok.title}</h1>
  <p>{blok.subtitle}</p>
  <img src={blok.image[0].filename}/>
  <Fragment set:html={content} /> 
</article>