---
// src/pages/colegio.astro
import Rocket from "../../assets/3DRocket.png";
import Divider from "../../components/Divider.astro";
import CountDown from "../../components/countDown/CountDown.astro";
import FAQ from "../../components/faq/FAQ.astro";

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import Layout from "../../layouts/Layout.astro";
import CTAFull from "../../sections/colegio/CTAFull.astro";
import CondritaSection from "../../sections/colegio/CondritaSection.astro";
import FAQSection from "../../sections/colegio/FAQSection.astro";
import NeedKnowSection from "../../sections/colegio/NeedKnowSection.astro";
import PrizesSections from "../../sections/colegio/PrizesSections.astro";
import ReasonsSection from "../../sections/colegio/ReasonsSection.astro";
import SchoolFormSection from "../../sections/colegio/SchoolFormSection.astro";
import SponsorsSection from "../../sections/colegio/SponsorsSection.astro";
import TimelineSections from "../../sections/colegio/TimelineSections.astro";
import WhySection from "../../sections/colegio/WhySection.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('header.title')}>
	<main class="w-full h-full scroll-smooth">
		<CTAFull 
			href="#FormSection" 
			title={t('cta.title')}
			body={t('cta.body')}
			image={Rocket}
		/>
		<Divider />
		<CountDown />
		<ReasonsSection />
		<Divider />
		<CondritaSection />
		<Divider />
		<TimelineSections />
		<Divider />
		<PrizesSections />
		<Divider />
		<WhySection />
		<Divider />
		<NeedKnowSection />
		<Divider />
		<SponsorsSection />
		<Divider />
		<SchoolFormSection />
		<Divider/>
		<FAQSection />
	</main>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const scrollButton = document.querySelector('a[href="#FormSection"]');
			if (scrollButton) {
				scrollButton.addEventListener('click', function(event) {
					event.preventDefault();
					const targetSection = document.getElementById('FormSection'); 
					if (targetSection) {
						targetSection.scrollIntoView({ behavior: 'smooth' });
					}
				});
			}
		});
	</script>
</Layout>