---
import Rocket from "../assets/3DRocket.png";
import Divider from "../components/Divider.astro";
import FAQ from "../components/faq/FAQ.astro";
import CTAFull from "../components/sections/CTAFull.astro";
import PrizesSections from "../components/sections/PrizesSections.astro";
import ReasonsSection from "../components/sections/ReasonsSection.astro";
import SchoolFormSection from "../components/sections/SchoolFormSection.astro";
import SponsorsSection from "../components/sections/SponsorsSection.astro";
import TimelineSections from "../components/sections/TimelineSections.astro";
import WhySection from "../components/sections/WhySection.astro";
import Layout from "../layouts/Layout.astro";
import NeedKnowSection from "../components/sections/NeedKnowSection.astro";
import CondritaSection from "../components/sections/CondritaSection.astro";
---

<Layout title="Condrita Space Apps">
	<main class="w-full h-full scroll-smooth">
		<CTAFull 
			href="https://usfq55033.activehosted.com/f/3"
			title="Condrita Campamento de Verano Espacial "
			body={`¡La aventura te espera!\nInscríbete al Campamento Espacial más grande del país.`}
			image={Rocket}
		/>
		<Divider />
		<ReasonsSection />
		<Divider />
		<CondritaSection />
		<Divider />
		<TimelineSections />
		<Divider />
		<PrizesSections />
		<Divider />
		<WhySection />
		<Divider />
		<NeedKnowSection />
		<Divider />
		<SponsorsSection />
		<Divider />
		<SchoolFormSection />
		<Divider/>
		<FAQ />
	</main>
</Layout>