---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Layout from "../layouts/Layout.astro";

const content = await Astro.locals.getPageContent('colegio');
---

<Layout title="Colegio">
	<main class="w-full h-full scroll-smooth">
		<StoryblokComponent blok={content} />
	</main>
</Layout>
