---
import Layout from "../layouts/Layout.astro";
import Rocket from "../assets/3DRocket.png";
import CTAFull from "../components/sections/CTAFull.astro";
import TimelineSections from "../components/sections/TimelineSections.astro";
import Divider from "../components/Divider.astro";
import PrizesSections from "../components/sections/PrizesSections.astro";
import TestForm from "../components/organisms/TestForm.astro";
import SchoolFormSection from "../components/sections/SchoolFormSection.astro";
import SponsorsSection from "../components/sections/SponsorsSection.astro";
import WhySection from "../components/sections/WhySection.astro";
---

<Layout title="Condrita Space Apps">
	<main class="w-full h-full scroll-smooth">
		<CTAFull 
			href="#school-form" 
			title="Contrita Campamento de Verano Espacial "
			body={`¡La aventura te espera!
Inscríbete al Campamento Espacial más grande del país.`}
			image={Rocket}
		/>
		<TimelineSections />
		<Divider />
		<!-- <PrizesSections /> -->
		 <WhySection />
		<Divider />
		<SponsorsSection />
		<Divider />
		<SchoolFormSection />
	</main>
</Layout>
