---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../layouts/Layout.astro';
import { useStoryblokApi } from '@storyblok/astro';
import { loadEnv } from 'vite';

const storyblokApi = useStoryblokApi()

const env = loadEnv("", process.cwd(), 'PUBLIC');
const { data } = await storyblokApi.get("/cdn/stories/colegio", {
  version: env.PUBLIC_MODE_DEV === "development" ? "draft" : "published",
});

const content = data.story.content;
---

<Layout title="Colegio">
	<main class="w-full h-full scroll-smooth">
		<StoryblokComponent blok={content} />
	</main>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const scrollButton = document.querySelector('a[href="#FormSection"]');
			if (scrollButton) {
				scrollButton.addEventListener('click', function(event) {
					event.preventDefault();
					const targetSection = document.getElementById('FormSection'); 
					if (targetSection) {
						targetSection.scrollIntoView({ behavior: 'smooth' });
					}
				});
			}
		});
	</script>
</Layout>
