---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../layouts/Layout.astro';
import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get("/cdn/stories/colegio", {
  version: "draft",
});
const content = data.story.content;
---

<Layout title="Condrita Space Apps">
	<main class="w-full h-full scroll-smooth">
		<StoryblokComponent blok={content} />
	</main>
</Layout>