---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../layouts/Layout.astro';

const content = await Astro.locals.getPageContent('home');
---

<Layout title="home">
	<main class="w-full h-full scroll-smooth">
		<StoryblokComponent blok={content} />
	</main>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const scrollButton = document.querySelector('a[href="#FormSection"]');
			if (scrollButton) {
				scrollButton.addEventListener('click', function(event) {
					event.preventDefault();
					const targetSection = document.getElementById('FormSection'); 
					if (targetSection) {
						targetSection.scrollIntoView({ behavior: 'smooth' });
					}
				});
			}
		});
	</script>
</Layout>
