---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../layouts/Layout.astro';

const content = await Astro.locals.getPageContent('innovacion');
---

<Layout title="innovacion">
	<main>
		<StoryblokComponent blok={content} />
	</main>
</Layout>
