<nav
    id="navbar"
    class="fixed z-50 transition-all ease-linear duration-100 w-full flex justify-center md:justify-between  bg-transparent text-ns-white px-32 py-6 border-solid border-y-0 border-transparent"
>
    <figure class="hidden md:flex items-center w-36">
        <a href="/">
            <img
                src="https://assets.spaceappschallenge.org/media/images/SpaceAppsLogo_Default_2ColorWhi.width-440.jpegquality-60.png"
                alt="Space Apps"
            />
        </a>
    </figure>
    <ul class="flex items-center justify-center gap-6">
        <li><a href="/">Inicio</a></li>
        <li><a href="/colegio">Colegio</a></li>
    </ul>
</nav>
