---
export interface Props {
    icon: string;
}

const { icon } = Astro.props;
---

<div class="flex items-center gap-4 flex-1">
    <span class="text-6xl font-bold">{icon}</span>
    <p class="text-sm">
        <slot />
    </p>
</div>