---
import Rocket from "../../assets/3DRocket3F.png";
import CTAFull from "../../components/sections/CTAFull.astro";
import WhySection from "../../components/sections/WhySection.astro";
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import Competition from "../../components/sections/Competition.astro";
import Cards from "../../components/sections/Cards.astro";


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('header.title')}>
	<main class="w-full h-full scroll-smooth">
		<CTAFull 
			fullHeight
			background={{from: "#105bd8", to: "#0b3d91"}}
			href="#school-form"
			title="¡Space Fest 2024 ya está aquí!"
			body={`Sé parte del primer space Fest del Ecuador. Creamos la Comunidad que impulsa el desarrollo de la industria espacial en el Ecuador \n \n ¿Te apuntas el reto?`}
			image={Rocket}
		/>
		
		<Competition />
		<WhySection 
	    title={t('why.section2Home.title')}
   		message={t('why.section2Home.description')}
		items={[
	    { title: t('why.section2Home.title1'), description: t('why.section2Home.description1'), number: "🚀" },
        { title: t('why.section2Home.title2'), description: t('why.section2Home.description2'), number: "🎓"},
        { title: t('why.section2Home.title3'), description: t('why.section2Home.description3'), number: "🚀" },
		]}/>	
	<Cards />

	
	
	</main>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const scrollButton = document.querySelector('a[href="#FormSection"]');
			if (scrollButton) {
				scrollButton.addEventListener('click', function(event) {
					event.preventDefault();
					const targetSection = document.getElementById('FormSection'); 
					if (targetSection) {
						targetSection.scrollIntoView({ behavior: 'smooth' });
					}
				});
			}
		});
	</script>
</Layout>

