---
import NavBar from "../components/organisms/NavBar.astro";
import Footer from "../components/sections/Footer.astro";

interface Props {
	title: string;
	blank?: boolean;
}
const { title, blank } = Astro.props;
---

<!doctype html>
<html class="h-full scroll-smooth" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/space_apps_logo_black.png" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Aqui hay que poner una descripción de lo que hace Space Apps"
		/>
		<meta
			name="keywords"
			content="Space Apps, Space Apps, Space Apps, Space Apps, Space Apps, Space Apps, Space Apps, Space Apps, Space Apps, Space Apps"
		/>
		<meta name="author" content="Space Apps" />
	</head>

	<meta property="og:title" content={title} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://spaceapps.pages.dev" />
	<meta property="og:image" content="https://spaceapps.pages.dev/3DRocket.png" />

	<title>Space Apps</title>

	<body class="font-sans flex h-full flex-col">
		{!blank && <NavBar transparent />}
		<slot />
		<Footer />
	</body>
</html>

