---
interface Props {
    id?: string;
    class?: string;
}

const { id = "", class: className = "" } = Astro.props;
---


<section 
    id={id} 
    class={`flex flex-col gap-8 py-8 px-8 md:px-24 md:py-16 ${className}`}
>
    <slot />
</section>
