---
interface Props {
    title: string;
    description: string;
    number: string;
    isFirst?: boolean;
}

const { title, description, number, isFirst } = Astro.props;
---

<li class=`flex flex-col gap-4 ${isFirst ? 'w-full' : 'w-5/6'} md:w-full md:max-w-60 shadow-xl px-6 py-8 rounded-lg`>
    <span class="text-center text-ns-gray-dark text-6xl">{number}</span>
    <h5 class="text-center text-xl font-bold">{title}</h5>
    <p>{description}</p>
</li>